
/*@import "http://weloveiconfonts.com/api/?family=typicons";*/
[class*="typicons-"]:before {
    font-family: 'Typicons',sans-serif;
}
.module {
    margin: 20px auto;
    width: 300px;
    position:absolute;
	right:0px;
	z-index : 999;
	padding:1px 2px;
    
}
.top-bar {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
}
.top-bar h1 {
    display: inline;
    font-size: 1.1rem;
}
.top-bar .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px;
}
.top-bar .typicons-minus {
    position: relative;
    top: 3px;
}
.top-bar .left {
    float: left;
}
.top-bar .right {
    float: right;
    padding-top: 5px;
}
.top-bar > * {
    position: relative;
}
.top-bar:before {
    animation: 1s ease 0s alternate none infinite pulse;
    background: radial-gradient(#FFFFFF, #000000) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -100%;
    content: "";
    left: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: -100%;
}
.discussion {
    background: none repeat scroll 0 0 #E5E5E5;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 50px;
}
.discussion li {
    display: flex;
    overflow: hidden;
    padding: 0.5rem;
}
.discussion .avatar {
    position: relative;
    width: 40px;
}
.discussion .avatar img {
    display: block;
    width: 100%;
}
.other .avatar:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF #FFFFFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.self {
    align-items: flex-end;
    justify-content: flex-end;
}
.self .messages {
    border-bottom-right-radius: 0;
    order: 1;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    bottom: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.messages {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem;
}
.messages time {
    color: #CCCCCC;
    font-size: 0.7rem;
}
@-moz-keyframes pulse {
0% {
    opacity: 0;
}
100% {
    opacity: 0.5;
}
}

#chatTextArea{
	width:100%;
	height:30px;
	border:1px solid grey;	
}
